/*
 * Grid by James McFadden
 *
 * Based on the post by Adam Kaplan - http://adamkaplan.me/grid
 */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
  width: 90%;
}

.row:before,
.row:after {
  content: "";
  display: table;
}

.row:after {
  clear: both;
}

.row {
  *zoom: 1;
}

@media (min-width: 650px) {
  .column, .columns {
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .one.column, .one.columns {width: 8.33%;}
  .two.columns {width: 16.66%;}
  .three.columns {width: 25%;}
  .four.columns {width: 33.33%;}
  .five.columns {width: 41.66%;}
  .six.columns {width: 50%;}
  .seven.columns {width: 58.33%;}
  .eight.columns {width: 66.66%;}
  .nine.columns {width: 75%;}
  .ten.columns {width: 83.33%;}
  .eleven.columns {width: 91.66%;}
  .twelve.columns {width: 100%;}
}
