body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: #222;
    background: #fff;
    padding: 0;
    text-align: justify;
}

a {
    color: #dd5424;
}

small {
    font-size: small;
}

em {
    font-style: italic;
}

pre,
code {
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    font-size: small;
}

/**
 * Thanks to Chris Coyier for this blockquote style
 * http://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/
 */
blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
    font-style: italic;
    font-size: 0.95em;
}

ul {
    padding-left: 20px;
}

ul li {
    list-style-type: disc;
}


#wrap {
    max-width: 740px;
    margin: 0 auto 2em;
    position: relative;
}

#fork-me {
    position: absolute;
    top: 0px;
    right: 0px;
    border: 0px;
    opacity: 1;
}

h1 {
    font-size: 1.4em;
    margin-top: 0.6em;
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1.1em;
    border-bottom: 1px solid #ddd;
    padding-bottom: 4px;
    margin-top: 1.3em;
}

h1, h2, h3 {
    font-weight: bold;
}

h1, h2 {
    margin-bottom: 1.6em;
}

h1 a {
    text-decoration: none;
    color: #222;
}

p {
    display: block;
    margin: 1em 0;
}

.entry-list {
    margin-bottom: 1.6em;
}

.entry-list .entry {
    list-style-type: none;
    margin-top: 1.3em;
}

.entry-list .entry:first-child {
    margin-top: 0;
}

.entry-list .entry .entry-title {
    margin: 0.5em 0 0 0;
    padding: 0;
    font-size: 1.05em;
    line-height: 1.3em;
    border: none;
    font-weight: normal;
    display: block;
}

.entry-list .entry .excerpt p {
    margin-top: 0;
    font-weight: normal;
    font-size: 0.9em;
    line-height: 1.2em;
    color: #666; /** The number of the beast **/
}

.entry-date,
.entry-info {
    margin: 0 0 1em 0;
    font-size: 0.8em;
    color: #aaa;
    line-height: 1.6em;
    word-spacing: 2px;
    font-weight: normal;
}

.entry-info {
    font-style: italic;
}

table {
    width: 100%;
    overflow: auto;
    display: block;
}

table tr {
    border-top: 1px solid #ccc;
    background-color: #fff;
    margin: 15px 0;
    border-collapse: collapse;
    border-spacing: 0;
}

table tr:nth-child(2n) {
    background-color: #f8f8f8;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 6px 13px;
}

table th {
    font-weight: bold;
}

#post {
    margin-bottom: 2em;
    line-height: 1.4em;
}

#post h2 {
    margin-bottom: 0;
}

#post pre {
    display: block;
    padding: 8.5px;
    margin: 0 0 9px;
    font-size: 12px;
    line-height: 18px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}

#post code {
    padding: 2px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}

#post pre > code {
    margin: 0;
    padding: 0;
    white-space: pre;
    border: none;
    background: transparent;
}

#post #disqus_thread {
    margin-top: 30px;
}

#footer {
    border-top: 1px solid #ddd;
    margin-top: 1em;
    font-size: 0.9em;
}

#footer a {
    color: #222;
}

#footer ul {
    margin-top: 0.8em;
    padding: 0;
    line-height: 1.5em;
}

#footer ul li {
    list-style-type: none;
}

#footer #power {
    font-size: smaller;
    margin-top: 0.7em;
    float: right;
}