---
layout: default
title: Projects | James McFadden
description: London based web developer
---

<h2>Projects</h2>
<p>Here are a few of my personal projects. Those without links are unavailable to view due to them being in development or closed to the public. In some cases a demo may be arranged.</p>

<table>
    <tr>
        <th>Project</th>
        <th>Description</th>
    </tr>
    {% for project in site.data.projects %}
        <tr>
            <td>
                {% if project.link %}
                    <a href="{{ project.link }}">{{ project.name}} </a>
                {% else %}
                    {{ project.name }}
                {% endif %}
            </td>
            <td>{{ project.description }}</td>
        </tr>
    {% endfor %}
</table>
