<div class="sidebar">
    <h2>Elsewhere</h2>
    
    <!-- Twitter -->
    <a class="twitter-timeline twitter widget" 
        data-lang="en" 
        data-height="500" 
        data-dnt="true" 
        data-theme="light" 
        data-noheader="true"
        data-chrome="noheader nofooter noborders"
        data-tweet-limit="5"
        href="https://twitter.com/jamesmcfdn">Tweets by jamesmcfdn</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

    <!-- Strava -->
    <iframe class="strava widget" frameborder="0" allowtransparency="true" scrolling="no" src="https://www.strava.com/athletes/5389640/latest-rides/4298f03aedf01ec00e653d88b26b7ff1a0e3ade9"></iframe>
</div>
